body {
  margin: 0;
  padding: 0;
  background: rgb(10, 129, 9);
  background: radial-gradient(
    circle,
    rgba(10, 129, 9, 1) 42%,
    rgba(7, 89, 7, 1) 100%
  );
}

.body-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.title {
  font-size: 6rem;
  color: gold;
}

.h3-menu {
  font-size: 2.5rem;
  width: 90%;
}
.btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.btn {
  width: 300px;
  height: 60px;
  font-size: 25px;
  background-color: gold;
  border: none;
  border-radius: 5px;
  color: rgb(10, 129, 9);
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 414px) {
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  .title {
    font-size: 4rem;
    margin-top: 0;
  }

  .h3-menu {
    font-size: 2rem;
  }
  .btn-container {
    max-width: 90%;
    margin: 30px auto;
  }

  .btn {
    max-width: 100%;
    height: 60px;
    padding: 0;
  }
}
